body {
  background-color: white;
  color: black;
  font-family: 'News Gothic', Sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.hidden {
  display: none; }

header {
  display: flex;
  justify-content: space-around;
  background-color: #008ec5; }
  header a {
    color: white;
    margin: 1vw; }

main article section:last-child {
  background-color: #bed9c4; }

main button {
  background-color: #61005f;
  color: white; }

table {
  border-collapse: collapse; }
  table th {
    background-color: white;
    font-weight: lighter;
    font-size: .7rem; }
  table tr:nth-child(odd) {
    background-color: #deece1; }
  table tr:nth-child(even) {
    background-color: #eff5f0; }
  table td {
    padding: 1.5vh; }

footer {
  background-color: #e7e8e9;
  color: #468fc0; }
  footer a {
    color: #468fc0; }
