body {
  background-color: white;
  color: black;
  font-family: 'News Gothic', Sans-serif;
  font-weight: lighter;
  padding: 0;
  margin: 0; }

.hidden {
  display: none; }

header {
  display: flex;
  justify-content: space-around;
  background-color: #008ec5;
  align-items: center; }
  header nav {
    display: flex; }
    header nav a {
      text-decoration: none;
      color: white;
      margin: 23px; }
  header nav .selected {
    background-color: #246897;
    margin: 0;
    padding: 23px; }

main {
  display: flex;
  margin-left: 125px;
  margin-right: 125px;
  margin-top: 65px; }
  main article {
    margin-right: 60px; }
    main article section h1 {
      color: #61005f;
      font-weight: lighter;
      font-size: 2.6rem;
      margin: 0 0 35px 0; }
    main article section p {
      letter-spacing: 0.008rem; }
    main article section:last-child {
      background-color: #bed9c4; }
    main article ul {
      padding-left: 17px;
      line-height: 1.5rem; }
    main article .blurb {
      margin-bottom: 30px; }
    main article .reasons {
      margin-bottom: 40px; }
    main article .mobile {
      position: relative; }
      main article .mobile h3 {
        color: #61005f;
        margin: 0;
        padding: 20px;
        padding-bottom: 0px; }
      main article .mobile p {
        width: 78%;
        margin: 0;
        padding: 10px 0px 15px 20px;
        line-height: 1.5rem; }
      main article .mobile img {
        height: 215px;
        position: absolute;
        right: 35px;
        bottom: 15px; }
  main aside button {
    background-color: #61005f;
    font-size: 1.3rem;
    color: white;
    border: none;
    padding: 10px 100px;
    margin-bottom: 10%; }
  main aside section nav a {
    display: inline-block;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    text-decoration: none;
    color: #0180c0;
    font-size: 1.3rem;
    text-align: center;
    width: 85px; }
  main aside section nav a.select-tab {
    background-color: whitesmoke;
    color: black;
    border: 1px solid lightgray;
    border-bottom: 1px solid whitesmoke;
    padding: 15px; }
  main aside section nav a:visited {
    color: #0180c0; }
  main aside section article {
    padding: 0;
    background-color: whitesmoke;
    margin: 0;
    border-top: 1px solid lightgray; }

.rates {
  margin-left: 125px;
  margin-right: 125px;
  width: 60.75%; }
  .rates p {
    margin: 0;
    padding: 50px 0;
    font-weight: 400;
    font-size: 2rem;
    line-height: 5rem;
    opacity: .6; }
  .rates p span {
    font-weight: 100;
    padding: 10px;
    border-right: 1px solid black; }
  .rates table {
    border-collapse: collapse;
    width: 100%; }
    .rates table th {
      background-color: white;
      font-weight: lighter;
      font-size: 1rem;
      text-align: right;
      padding-bottom: 10px; }
    .rates table tbody {
      opacity: .6; }
    .rates table tr:nth-child(2) {
      font-weight: 900; }
    .rates table tr:nth-child(odd) {
      background-color: #deece1; }
    .rates table tr:nth-child(even) {
      background-color: #eff5f0; }
    .rates table td {
      padding: 16px;
      font-size: 1.3rem; }
    .rates table td:nth-child(n+2) {
      text-align: right; }
  .rates #ftn {
    line-height: .6rem;
    font-size: .9rem;
    text-align: right;
    padding-top: 10px;
    opacity: .6; }

footer {
  background-color: #e7e8e9;
  color: #468fc0; }
  footer a {
    color: #468fc0;
    text-decoration: none; }
