body {
  background-color: white;
  color: black;
  font-family: 'News Gothic', Sans-serif;
  font-weight: lighter;
  padding: 0;
  margin: 0; }

.hidden {
  display: none; }

header {
  display: flex;
  justify-content: space-around;
  background-color: #008ec5;
  align-items: center; }
  header nav {
    display: flex; }
    header nav a {
      text-decoration: none;
      color: white;
      margin: 23px; }
  header nav .selected {
    background-color: #246897;
    margin: 0;
    padding: 23px; }

main {
  margin: 7vw; }
  main article section h1 {
    color: #61005f;
    font-weight: lighter;
    font-size: 4em; }
  main article section:last-child {
    background-color: #bed9c4; }
  main button {
    background-color: #61005f;
    color: white; }

table {
  border-collapse: collapse; }
  table th {
    background-color: white;
    font-weight: lighter;
    font-size: .7rem; }
  table tr:nth-child(odd) {
    background-color: #deece1; }
  table tr:nth-child(even) {
    background-color: #eff5f0; }
  table td {
    padding: 1.5vh; }

footer {
  background-color: #e7e8e9;
  color: #468fc0; }
  footer a {
    color: #468fc0;
    text-decoration: none; }
